@import "../../../styles/variables.scss";

.auth-password {
  &__title {
    text-align: center;
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-weight: 400;
    margin-bottom: 4.8rem;
  }
  &__description {
    text-align: center;
    font-size: 1.4rem;
    line-height: 2.4rem;
    font-weight: 400;
    width: 100%;
    color: $primary-40;
    margin-bottom: 2.4rem;
  }
  &__loading {
    display: flex;
    justify-content: center;
  }
}